<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car_category.name %>
</p>

<%= link_to 'Edit', edit_car_category_path(@car_category) %> |
<%= link_to 'Back', car_categories_path %>
