<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @maintenance_category.name %>
</p>

<%= link_to 'Edit', edit_maintenance_category_path(@maintenance_category) %> |
<%= link_to 'Back', maintenance_categories_path %>
